<%= form_for :review, :url => { :action => 'update', @review.id => :review_id }, method: :patch do |f| %>
<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.submit "Update Review"%>
</p>
<% end %>
